LOG_LEVEL="DEBUG"
PYTHON_ENV="dev"

# ========== GOOGLE GEMINI API KEY ==========
GOOGLE_API_KEY=""

# ========== GCP CREDS SETUP ==========
GOOGLE_APPLICATION_CREDENTIALS="/path/to/credentials.json"
PROJECT_ID = "your-project-id"
LOCATION = "your-region"

# ========== GCP BUCKET SETUP ==========
GCP_BUCKET_NAME="your-bucket-name"

# ========== QDRANT SETUP ==========
QDRANT_URL="http://localhost:6333"
QDRANT_API_KEY=""
QDRANT_COLLECTION_NAME="your-collection-name"

# ========== LANGSMITH TRACING ==========
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="your-langsmith-api-key"
LANGSMITH_PROJECT="your-project-name"
