LOG_LEVEL="DEBUG"

# ========== GOOGLE GEMINI API KEY ==========
GOOGLE_API_KEY=""

# ========== GCP CREDS SETUP ==========
GOOGLE_APPLICATION_CREDENTIALS=""

# ========== GCP VERTEX AI VECTOR SEARCH SETUP ==========
PROJECT_ID=""
REGION=""
BUCKET=""
DISPLAY_NAME=""
DEPLOYED_INDEX_ID=""
DEPLOYED_INDEX_ENDPOINT_ID=""
DEPLOYED_INDEX_ID_AUTOASSIGNED=""

# ========== LANGSMITH TRACING ==========
LANGSMITH_TRACING=""
LANGSMITH_ENDPOINT=""
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""
